:host {
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Corta qualquer tentativa de criar barra de rolagem */
}


.home-container {
    display:flex;
    flex-direction: column;
    height:100vh;
    width:100vw;
    box-sizing: border-box;
    background-color:aqua;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.homeTitle-container {
    display:flex;
    flex-direction: row;
    text-align: center;
    background-color:#d9d9d9;
    width:100vw;
    height:7%;
}

h1{
    margin-left: 40%;
    margin-right: 20%;
}

.accountButton{
    width: 3%;
    height: 90%;

    /* Centralizando o SVG */
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #d9d9d9;
    color:white;
    border: none;
    border-radius:50%;

    cursor:pointer;
    padding: 0;
    transition: background 0.3s;

    margin-left:10%;
    margin-right: 2%;
}

.signOutButton{
    width: 3%;
    height:90%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #d9d9d9;
    border: none;
    border-radius: 50%;

    cursor: pointer;
    padding: 0;
    transition: background 0.3s;


}

.homeUsuario-container {
    display:flex;
    flex-direction:row;
    padding:30px;
    height:37%;
    background-color:white;
}

.informacoesUsuario-container{
    background-color:#d9d9d9;
    width: 55%;
    height:90%;

    margin-top:1%;
    margin-bottom:3%;
    margin-left:1%;

}

.graphic-container{

    width: 15%;
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #d9d9d9;
    border-radius: 50%;

    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 20%; 
    
}

.homeInformacoes-container {
    display:flex;
    flex-direction: row;
    padding: 1%;
    width:100vw;
    height:56%;
    background-color:white;
}

.receitas-container {
    display:flex;
    flex-direction:column;
    width:30%;
    margin-top:1%;
    margin-left:1%;
    margin-right:1%;
    margin-bottom:1%;
    background-color:#d9d9d9;
}

.adicionarReceita-container{
    display:flex;
    flex-direction:row;
    width:100%;
    height: 10%;
    background-color:#d9d9d9;
}

.adicionarReceita-button{
    width: 8%;
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #d9d9d9;
    border: none;
    border-radius: 50%;

    cursor: pointer;
    padding: 0;
    transition: background 0.3s;

    margin-left: 12%;
}

.listarReceitas-container{
    width:100%;
    height:90%;
    background-color:#d9d9d9;
}

.despesas-container {
    display:flex;
    flex-direction:column;
    width:30%;
    margin-top:1%;
    margin-left: 5%;
    margin-right:1%;
    margin-bottom:1%;
    background-color:#d9d9d9;
}

.adicionarDespesa-container{
    display:flex;
    flex-direction:row;
    width:100%;
    height: 10%;
    background-color:#d9d9d9;
}

.adicionarDespesa-button{
    width: 8%;
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #d9d9d9;
    border: none;
    border-radius: 50%;

    cursor: pointer;
    padding: 0;
    transition: background 0.3s;

    margin-left: 10%;
}

.listarDespesas-container{
    background-color: #d9d9d9;
    height:90%;
    width:100%;

}

.categorias-container {
    width:30%;
    margin-top:1%;
    margin-left:5%;
    margin-right:1%;
    margin-bottom:1%;
    background-color:#d9d9d9;
}

.adicionarCategoria-container{
    display:flex;
    flex-direction:row;
    width:100%;
    height: 10%;
    background-color:#d9d9d9;
}

.adicionarCategoria-button{
    width: 8%;
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #d9d9d9;
    border: none;
    border-radius: 50%;

    cursor: pointer;
    padding: 0;
    transition: background 0.3s;

    margin-left: 8%;
}

.listarCategorias-container{
    background-color: #d9d9d9;
    height:90%;
    width:100%;
}

h3{
    margin-bottom: 3%;
    margin-left: 3%;
    margin-top: 2%;
    margin-right:60%;
}