<div class="home-container">

    <div class="homeTitle-container">
        <h1>CONTROLE FINANCEIRO</h1>
    </div>

    <div class="homeUsuario-container">
        <div class="informacoesUsuario-container">
            <p>A receita atual é 100 reais</p>
        </div>
    </div>

    <div class="homeInformacoes-container"> 

        <div class="receitas-container">

            <div class="adicionarReceita-container">

                <h3>Receitas</h3>
                <button class= "adicionarReceita-button"> Teste</button>

            </div>

            <div class="listarReceitas-container">
                
            </div>

        </div>

        <div class="despesas-container"> 

            <div class="adicionarDespesa-container">

                <h3>Despesas</h3>
                <button class="adicionarDespesa-button">Teste</button>

            </div>

            <div class="listarDespesas-container">


            </div>

        </div>

        <div class="categorias-container">

            <div class="adicionarCategoria-container">

                <h3>Categorias</h3>
                <button class="adicionarCategoria-button">Teste</button>

            </div>

            <div class="listarCategorias-container"> </div>
            
        </div>

    </div>




</div>
