:host {
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Corta qualquer tentativa de criar barra de rolagem */
}


.home-container {
    display:flex;
    flex-direction: column;
    height:100vh;
    width:100vw;
    box-sizing: border-box;
    background-color:aqua;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.homeTitle-container {
    text-align:center;
    background-color:#d9d9d9;
    width:100vw;
    height:7%;
}

.homeUsuario-container {
    display:flex;
    flex-direction:row;
    padding:30px;
    height:37%;
    background-color:white;
}

.informacoesUsuario-container{
    background-color:#d9d9d9;
    width: 45%;
    height:75%;
    margin-top:3%;
    margin-bottom:3%;
    margin-left:1%;

}

.homeInformacoes-container {
    display:flex;
    flex-direction: row;
    padding: 1%;
    width:100vw;
    height:56%;
    background-color:white;
}

.receitas-container {
    display:flex;
    flex-direction:column;
    width:30%;
    margin-top:1%;
    margin-left:1%;
    margin-right:1%;
    margin-bottom:1%;
    background-color:#d9d9d9;
}

.adicionarReceita-container{
    display:flex;
    flex-direction:row;
    width:100%;
    height: 10%;
    background-color:#d9d9d9;
}

.adicionarReceita-button{
    margin-left: 8%;
}

.listarReceitas-container{
    width:100%;
    height:90%;
    background-color:red;
}

.despesas-container {
    display:flex;
    flex-direction:column;
    width:30%;
    margin-top:1%;
    margin-left: 5%;
    margin-right:1%;
    margin-bottom:1%;
    background-color:#d9d9d9;
}

.adicionarDespesa-container{
    display:flex;
    flex-direction:row;
    width:100%;
    height: 10%;
    background-color:#d9d9d9;
}

.adicionarDespesa-button{
    margin-left: 6%;
}

.listarDespesas-container{
    background-color:red;
    height:90%;
    width:100%;

}

.categorias-container {
    width:30%;
    margin-top:1%;
    margin-left:5%;
    margin-right:1%;
    margin-bottom:1%;
    background-color:#d9d9d9;
}

.adicionarCategoria-container{
    display:flex;
    flex-direction:row;
    width:100%;
    height: 10%;
    background-color:#d9d9d9;
}

.adicionarCategoria-button{
    margin-left: 4%;
}

.listarCategorias-container{
    background-color:red;
    height:90%;
    width:100%;
}

h3{
    margin-bottom: 3%;
    margin-left: 3%;
    margin-top: 2%;
    margin-right:60%;
}