/* Fundo da tela inteira */
.login-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-title{
  text-align: center;
  background-color: #d9d9d9;
  height: 75px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* O cartão branco */
.login-card {
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;

  margin: auto;
}


h2 {
  color: #333;
  margin-bottom: 0.5rem;
}

.subtitle {
  color: #666;
  margin-bottom: 2rem;
  font-size: 0.9rem;
}

/* Campos do formulário */
.form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
  font-weight: 500;
  font-size: 0.9rem;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box; /* Importante para não quebrar o layout */
  transition: border-color 0.3s;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

/* Destacar erro em vermelho */
input.invalid {
  border-color: #dc3545;
}

/* Botão */
button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 15px;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #a5a4a4;
  cursor: not-allowed;
}

.labelCadastro{
  margin-top: 15px;
}